// Breakpoints of devices customise for me
$breakpoints: (
    "xxs": 320px,
    // Extra small mobile (petits téléphones)
    "xs": 480px,
    // Small mobile
    "sm": 576px,
    // Mobile landscape
    "md": 768px,
    // Tablettes
    "lg": 992px,
    // Ordinateurs portables petits et moyens
    "xl": 1200px,
    // Grands écrans
    "xxl": 1600px,
    // Écrans très larges
    "xxxl": 1920px,
    // Écrans extrêmement larges
    "ultra": 2560px // Ultra-larges (comme les écrans 4K)
);


// Mixin pour gérer les media queries dynamiquement
@mixin respond-to($breakpoint) {
    $min-width: map-get($breakpoints, $breakpoint); // Récupère la largeur min depuis la map

    @if $min-width {
        @media (min-width: $min-width) {
            @content;
        }
    }

    @else {
        @warn "Le breakpoint #{$breakpoint} n'existe pas dans la map $breakpoints.";
    }
}

@mixin respond-max($breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint);

    @if $max-width {
        @media (max-width: $max-width) {
            @content;
        }
    }

    @else {
        @warn "Le breakpoint #{$breakpoint} n'existe pas dans la map $breakpoints.";
    }
}

@mixin respond-orientation($orientation) {
    @media (orientation: $orientation) {
        @content;
    }
}

// Optionnel : un alias pour la mixin `respond-to` pour plus de flexibilité dans le nommage
@mixin breakpoint($bp) {
    @include respond-to($bp);
}


  // Appliquer des styles à partir d'un breakpoint spécifique
  @include respond-to("sm") {
    padding: 15px;
    font-size: 16px;
  }


// body{
//     background-color: red;
// }